.header {
  @include flex-row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  @media (min-width: 768px) and (max-width: 991px) {
    @include flex-column;
  }
  @media (min-width: 992px) {
    @include flex-column;
  }

  &__logo {
    font-family: $font-logo;
  }

  > a {
    position: absolute;
    top: 9%;
    left: 7%;

    @media (min-width: 768px) and (max-width: 991px) {
      top: 8%;
      left: 14%;
    }
    @media (min-width: 992px) {
      top: 5%;
      left: 15%;
    }

    > i {
      font-size: 1.6rem;
      font-family: $font-icon;
    }
  }

  > img, > .menu-new > img {
    @media (max-width: 767px) {
      @include flex-row;
      width: 100%;
      z-index: -1;
      position: relative;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      border-radius: 60%;
      height: 350px;
      object-fit: cover;
      width: 66%;
      margin: auto;
    }
    @media (min-width: 992px) and (max-width: 1370px) {
      border-radius: 60%;
      height: 580px;
      object-fit: cover;
      width: 66%;
      margin: auto;
    }

    @media (min-width: 1371px) {
      border-radius: 60%;
      height: 580px;
      object-fit: cover;
      width: 55%;
      margin: auto;
    }
  }
}