.button {
  @include button;
  margin: 5% auto 0 auto;
  @media (min-width: 992px)  {
    max-width: 300px;
    max-height: 40px;
    padding: 2%;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
    &:hover {
      filter: brightness(1.2);
      transform: scale(1.08);
      box-shadow: 0 0 15px 0;
    }
  }
  &-margin {
    width: 50%;
    margin: 15% auto 5% auto;
    text-align: center;
    @media (min-width: 992px)  {
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5% auto 0 auto;
    }
    @media (min-width: 1367px)  {
      width: 15%;
    }
  }
}
